#loader {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10em;
  height: 10em;
  border-radius: 50%;
  border-top: 0.5em solid rgba(255, 255, 255, 0.4);
  border-right: 0.5em solid rgba(255, 255, 255, 0.4);
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.4);
  border-left: 0.5em solid #027b33;
  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
